@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #000;
    --secondary-color:#f2f2f2;
    --tertiary-color:grey;
    --decoration-color:#c79800;
}

body {
    background:var(--tertiary-color);
    font-family: 'Roboto';
    color:var(--primary-color);
    width: 100%;
}

header{
    background-color:var(--primary-color);
    text-align: center;
    z-index: 100;
}

img.centrar {
    display: block;
    max-width: 110px;
    max-height: 130px;
    margin-left: auto;
    margin-right: auto;
    border-radius:10px;
    box-shadow: 7px 7px 15px grey ;
}
header img {
    padding: 4px;
}
h1 {
    color:var(--secondary-color);
    padding: 0.5%;
    letter-spacing: 2px;
    text-align: center;

}
    
h2 {
    text-align: center;
    letter-spacing: 4px;
    /*margin-left:50%;*/
    margin-bottom:20px;
    color:#005677;
    background-color: #c4c4c4;
    letter-spacing: 4px;
    }

/** Menú principal */
nav ul {
    display: flex; 
    justify-content: center;
    list-style: none;
}
nav ul li {
    margin: 20px;
}
nav ul li a{
    position:relative;
    margin: 10x;
    font-size:22px;  
    color:var(--secondary-color);
    text-decoration: none;
}

nav ul li a:before{
    content:'';
    background: var(--decoration-color);
    position:absolute;
    bottom:-10px; 
    /* alto y ancho=0 */
    /* transition: ; */
}
nav ul li a:hover::before{
    /* ancho final */

}

nav ul li a {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    color:white;
}
nav ul li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background:orange;
    transition: left .8s;
}
nav ul li a:hover:after {
    left: 0;
}

/***Contenido***/
main{
    width: 1024px;
    /*display: flex;*/
    /*margin: 5% auto;*/
    margin-bottom: auto;
}

.container {
    width: 100%;
    justify-content:center;
    align-items: center;
    text-align: justify; 
    /*margin:0px auto;*/
    margin: auto auto;
}

.container a{
    display: inline-block;
    background-color:var(--primary-color);
    color:var(--secondary-color);
    text-decoration: none;
    padding: 15px;
    margin-top: 45px;
    margin-left:55%;
}
.container a:hover{
    color:var(--decoration-color);
}

div {
    margin-top: 30px;
    margin-bottom: 50px;
}

div ul {
    margin-right: 10%;
    margin-bottom: 36px;
    padding-left: 1px;
}

.div-ul-li{
    margin-left: 50%;
}

.Tit{
    font-weight: bold;
    
}

footer {
    background-color: #F58840;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 65px;
}
footer p {
    text-align: center;
    padding: 4.9px;
}